graft quickwrench_api/env
graft quickwrench_api/staticfiles
graft quickwrench_api/apps/*/fixtures
graft src/quickwrench_api/env
graft src/quickwrench_api/staticfiles
graft src/quickwrench_api/apps/*/fixtures
